<div>
  <h1>Listado de Usuarios</h1>
  <mat-divider></mat-divider>

  <!-- Botón para agregar un nuevo usuario -->

  <div *ngIf="idGuardado==='1'">
    <div class="add-user-btn">
      <button mat-raised-button color="primary" (click)="openAddDialog()">+ Agregar Usuario</button>
    </div>
  </div>

  <div *ngIf="idGuardado==='2'">
    <h1>Usted es un usuario, no tiene permisos aqui.</h1>
  </div>

  <div class="grid mb-8">
    <div *ngFor="let usuario of usuarios" class="col-12 sm:col-4 md:col-3 lg:col-2">

      <mat-card class="usuario-card">
        <mat-card-header>
          <mat-card-title>{{ usuario.nombre_publico }}</mat-card-title>
          <mat-card-subtitle>{{ usuario.rol }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Usuario:</strong> {{ usuario.usuario }}</p>
          <p><strong>Habilitado:</strong> {{ usuario.habilitado ? 'Sí' : 'No' }}</p>
          <p><strong>Nombre público:</strong> {{ usuario.nombre_publico }}</p>
        </mat-card-content>
        <button mat-button (click)="openEditDialog(usuario)">🔧 Editar</button>
        <button mat-button (click)="deleteUsuario(usuario)">❌ Eliminar</button>
      </mat-card>

    </div>
  </div>
