<h1>Listado de Usuarios</h1>
<mat-divider></mat-divider>

<div class="grid mb-8">
  <div *ngFor="let usuario of usuarios" class="col-12 sm:col-4 md:col-3 lg:col-2">
    <mat-card class="usuario-card">
      <mat-card-header>
        <mat-card-title>{{ usuario.nombre_publico }}</mat-card-title>
        <mat-card-subtitle>{{ usuario.rol }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Usuario:</strong> {{ usuario.usuario }}</p>
        <p><strong>Habilitado:</strong> {{ usuario.habilitado }}</p>
        <p><strong>Nombre publico:</strong> {{ usuario.nombre_publico }}</p>
      </mat-card-content>
      <button mat-button (click)="editUsuario(usuario)">Editar</button>
      <button mat-button color="warn" (click)="deleteUsuario(usuario)">Eliminar</button>
    </mat-card>
  </div>
</div>
