<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title>Recuperar contraseña</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <form class="example-form" [formGroup]="resetPasswordForm" (ngSubmit)="generateNewPass()">
          <!-- Nueva Contraseña -->
          <div class="form-group">
              <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Contraseña</mat-label>
                  <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
                  <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
                      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                  <mat-error *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
                      La contraseña es obligatoria y debe tener al menos 6 caracteres.
                  </mat-error>
              </mat-form-field>
          </div>

          <!-- Confirmar Contraseña -->
          <div class="form-group">
              <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Confirmar Contraseña</mat-label>
                  <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="confirm_password" required>
                  <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
                      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                  <mat-error *ngIf="resetPasswordForm.hasError('mismatch')">
                      Las contraseñas no coinciden.
                  </mat-error>
              </mat-form-field>
          </div>

          <!-- Botón y Spinner -->
          <mat-card-actions>
              <button type="submit" mat-raised-button class="azulVeo" [disabled]="resetPasswordForm.invalid || showSpinner">
                  Cambiar
              </button>
          </mat-card-actions>
      </form>

      <!-- Spinner de carga -->
      <div class="text-center" *ngIf="showSpinner">
          <mat-spinner></mat-spinner>
      </div>
  </mat-card-content>
</mat-card>

<!-- Mensaje de error si el token no es válido -->
<mat-card *ngIf="!checkTokenPasswd && resetPass">
  <mat-error>El enlace para cambiar su contraseña ha expirado</mat-error>
</mat-card>
