<h1>Listado de Películas</h1>

<!-- Contenedor de las tarjetas de películas -->
<div class="grid mb-8">
  <div *ngFor="let pelicula of peliculas" class="col-12 sm:col-4 md:col-3 lg:col-2">
    <!-- Tarjeta de película -->
    <div class="movie-card">
      <mat-card-header>
        <mat-card-title>{{ pelicula.title }}</mat-card-title>
        <mat-card-subtitle>{{ pelicula.release_date | date }}</mat-card-subtitle>
      </mat-card-header>

      <!-- Imagen de la película -->
  <img mat-card-image [src]="getPosterUrl(pelicula.poster_path)" [alt]="pelicula.title">



      <!-- Contenedor de los botones de acción -->
      <div class="card-actions">
        <!-- Botón para añadir a favoritos -->
        <button mat-button mat-raised color="primary" (click)="addToFavorites(pelicula)">
          <mat-icon>favorite</mat-icon>
        </button>

        <!-- Botón "Más" -->
        <button mat-button mat-raised [routerLink]="['/pagina-principal/peliculas', pelicula.id]">
          <mat-icon>more_horiz</mat-icon>

        </button>
      </div>
    </div>
  </div>
</div>

